.cabeçalho__menu-hamburger {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");       /*os (..) servem para buscar a imagem no diretório correto*/
    background-repeat: no-repeat;                   /*serve para não repetir a imagem .svg do menu hamburger*/
    background-position: center;                    /*serv p .svg menu hamburger ficar centralizada em rel ao container */
    display: inline-block;

}

.cabeçalho {
    background-color: var(--branco);                /*cor do cabeçalho branco visto que o body está em #EBECEE*/
    display: flex;                                  /*o display flex serve para alinharmos nossos itens lado a lado*/
    justify-content: space-between;                 /*Cria espaç=entre elements mant o 1º grudado no início, últ final*/
    align-items: center;                            /*alinha os itens no centro*/
    position: relative;                              /* o elemento é posicionado em relação a si mesmo*/

}


.container{
    display:flex;                                   /*o display flex serve para alinharmos nossos itens lado a lado*/
    align-items: center;
    margin:1em;                                              
}

.container__imagem{
    margin: 0.5em;                    
    
}

.lista-menu{
    display: none;
    position: absolute;                     /*posição relacionada a de seu elemento pai*/
    top: 100%;
    width: 60vw;                            /*Aumento do tam do menu c a medida vw (Viewport-width) calcula 60% tam da tela*/
}

.container__botao:checked ~ .lista-menu{
    display: block;                          /*display:bloqueado*/
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;                           /*espaçamento interno proporcional a 1 proporcional*/
    background-color: var(--branco);        /*Variavel da cor branca*/


}

.lista-menu__titulo{
    color: var(--laranja);                  /*Variavel da cor laranja*/
    font-weight: 700;                 
}

.lista-menu__link{
    background: var(--azul-degrade);        /*Variavel da cor azul degradê*/
    -webkit-background-clip: text;          /*Serve para funcionar em outros tipos de navegadores*/
    -webkit-text-fill-color: transparent;   /*Serve para funcionar em outros tipos de navegadores*/
    background-clip: text;                  /*prender so onde tem texto*/          
    text-transform: uppercase;              /*Serve para colocar em maiusculo o texto*/
}

.container__botao{
    display: none;                          /*Ocultamos o botão Checkbox*/
}
