.topicos{
    background: var(--azul-degrade);
    color: var(--branco);
}

.topico__titulo{
    text-align: center;
    padding: 1em 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.container__topico{
    display: flex;
    flex-wrap: wrap;
    text-align: center;

}

.topico-item{
    display: inline-block;
    margin: 0.95em;
    background: var(--laranja);
    padding: 0.5em;
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
    text-transform:capitalize;
}

    @media screen and (min-width: 1024px){
        .topico__titulo{
            font-size: 24px;
            font-weight: 300;
            line-height: 36px;
        }
        
        .topico-item{
            padding: 1em;
            margin: 1em;
        }
        
        
        .topicos_link{
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;

        }
        
    }
